<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quickcashgroup5">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <activity
            android:name="com.example.quickcashgroup5.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".usermanagement.LogInActivity">

        </activity>
        <activity android:name=".passwordmanagement.PasswordResetCodeActivity">

        </activity>
        <activity android:name=".passwordmanagement.RecoveryAccountActivity">

        </activity>
        <activity android:name=".passwordmanagement.ResetPasswordActivity">

        </activity>
        <activity android:name=".usermanagement.SignUpActivity">

        </activity>
        <activity android:name=".home.EmployerHomeActivity">

        </activity>
        <activity android:name=".home.EmployeeHomeActivity">

        </activity>
        <activity android:name=".jobsearch.JobSearchActivity">

        </activity>
        <activity android:name=".usermanagement.JobPreferenceActivity">

        </activity>
        <activity android:name=".jobcreation.CreateJobActivity">

        </activity>

        <activity android:name=".jobdetails.JobDescriptionEmployeeActivity">

        </activity>
        <activity android:name=".jobdetails.JobDescriptionEmployerActivity">

        </activity>

        <activity android:name=".employeeselection.SelectEmployeeActivity">

        </activity>

        <activity android:name=".jobdetails.JobStatusEmployeeActivity">

        </activity>

        <activity android:name=".paymentmanagement.PayEmployeeActivity">

        </activity>
        <activity android:name=".feedbackmanagement.SendFeedbackActivity">

        </activity>
        <activity android:name=".feedbackmanagement.ViewFeedbacksActivity">

        </activity>
        <activity android:name=".paymentmanagement.Paypal">

        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>